```
global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # intermediate configuration
    tune.ssl.cachesize 200000
    tune.ssl.lifetime 600
    ssl-default-bind-curves X25519:prime256v1:secp384r1
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305
    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options ssl-min-ver TLSv1.2 no-tls-tickets

    # curl https://ssl-config.mozilla.org/ffdhe2048.txt > /path/to/dhparam
    ssl-dh-param-file /etc/ssl/certs/dhparam.pem

defaults
    log     global
    mode    http
    option  dontlognull
    option  log-health-checks
    timeout connect 5s
    timeout client  120s
    timeout server  120s
    timeout queue   30s
    timeout check   5s
    option  redispatch
    retries 3
    maxconn 10000
    compression algo gzip
    #compression type text/html text/plain text/css application/javascript text/javascript application/json application/xml
    compression type text/html text/plain text/css application/javascript text/javascript application/json application/xml application/x-javascript image/svg+xml application/font-woff application/font-woff2
    log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r %[ssl_fc_sni]"



listen stats
    bind *:8404
    acl allowed_stats src 0.0.0.0/0
    #http-request deny unless allowed_stats
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:Dhaka@123
#----------------------------------------------------------------------------------------------------------------------------------#
    #Frontend Setting
frontend https_front
    bind *:443 ssl crt /etc/ssl/certs/all/ alpn h2,http/1.1
    mode http
    http-response set-header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    http-response set-header X-Content-Type-Options nosniff
    http-response set-header X-Frame-Options DENY
    http-response set-header Referrer-Policy same-origin
    http-response set-header Permissions-Policy "geolocation=(), camera=(), microphone=(), fullscreen=(self)"
    #http-response set-header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; object-src 'none'; frame-ancestors 'none';"
    #http-response set-header Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; object-src 'none'; frame-ancestors 'none'; report-uri /csp-report;"

    # DoS Protection
    stick-table type ip size 200k expire 30s store conn_rate(30s),conn_cur,http_req_rate(10s)
    acl too_fast sc0_conn_rate gt 100
    acl too_many_conn sc0_conn_cur gt 50
    acl too_many_req sc0_http_req_rate gt 50
    tcp-request connection reject if too_fast too_many_conn
    http-request deny deny_status 429 if too_many_req
#----------------------------------------------------------------------------------------------------------------------------------#
    #ACL Setting
    acl is_wingssfa ssl_fc_sni -i my.wingssfa.net
    use_backend my_wingssfa_net if is_wingssfa

    acl is_wingshrms ssl_fc_sni -i my.wingshrms.net
    use_backend my_wingshrms_net if is_wingshrms

    acl is_wingsbooks ssl_fc_sni -i my.wingsbooks.net
    use_backend my_wingsbooks_net if is_wingsbooks

    acl is_license ssl_fc_sni -i license.wingssfa.net license.wingshrms.net license.wingsbooks.net
    use_backend saas_license if is_license

    acl is_license-api ssl_fc_sni -i license-api.wingssfa.net
    use_backend saas_license-api if is_license-api
    
    acl is_minio_console ssl_fc_sni -i s3.apsissolutions.com
    use_backend minio_console if is_minio_console

    acl is_minio_api ssl_fc_sni -i s3api.apsissolutions.com
    use_backend minio_api if is_minio_api


    default_backend default_backend
#----------------------------------------------------------------------------------------------------------------------------------#
    #Backend Setting
backend my_wingssfa_net
    mode http
    balance roundrobin #leastconn
    option http-server-close
    option forwardfor
    http-request set-header Host %[req.hdr(host)]
    cookie WINGSSFAID insert indirect nocache
    option httpchk GET /health
    http-check connect
    http-check send meth GET uri /health
    http-check expect status 200
    server wingssfa1 192.168.10.51:2080 cookie wingssfa1 check inter 5s fall 3 rise 2 slowstart 10s maxconn 500
    server wingssfa2 192.168.10.52:2080 cookie wingssfa2 check inter 5s fall 3 rise 2 slowstart 10s maxconn 500

backend my_wingshrms_net
    mode http
    balance roundrobin #leastconn
    option http-server-close
    option forwardfor
    http-request set-header Host %[req.hdr(host)]
    cookie WINGSHRMSID insert indirect nocache
    option httpchk GET /health
    http-check connect
    http-check send meth GET uri /health
    http-check expect status 200
    server wingshrms1 192.168.10.51:5001 cookie wingshrms1 check inter 5s fall 3 rise 2 slowstart 10s maxconn 500
    server wingshrms2 192.168.10.52:5001 cookie wingshrms2 check inter 5s fall 3 rise 2 slowstart 10s maxconn 500

backend my_wingsbooks_net
    mode http
    balance roundrobin #leastconn
    option http-server-close
    option forwardfor
    http-request set-header Host %[req.hdr(host)]
    cookie WINGBOOKSID insert indirect nocache
    option httpchk GET /health
    http-check connect
    http-check send meth GET uri /health
    http-check expect status 200
    server wingsbooks1 192.168.10.51:4002 cookie wingsbooks1 check inter 5s fall 3 rise 2 slowstart 10s maxconn 500
    server wingsbooks2 192.168.10.52:4002 cookie wingsbooks2 check inter 5s fall 3 rise 2 slowstart 10s maxconn 500

backend saas_license
    mode http
    balance roundrobin #leastconn
    option http-server-close
    option forwardfor
    http-request set-header Host %[req.hdr(host)]
    cookie LICENSEID insert indirect nocache
    option httpchk GET /health
    http-check connect
    http-check send meth GET uri /health
    http-check expect status 200
    server license1 192.168.10.51:8063 cookie license1 check inter 5s fall 3 rise 2 slowstart 10s maxconn 500
    server license2 192.168.10.52:8063 cookie license2 check inter 5s fall 3 rise 2 slowstart 10s maxconn 500


backend saas_license-api
    mode http
    balance roundrobin #leastconn
    option http-server-close
    option forwardfor
    http-request set-header Host %[req.hdr(host)]
    cookie LICENSAPIEID insert indirect nocache
    option httpchk GET /health
    http-check connect
    http-check send meth GET uri /health
    http-check expect status 200
    server license-api1 192.168.10.51:3005 cookie license-api1 check inter 5s fall 3 rise 2 slowstart 10s maxconn 500
    server license-api2 192.168.10.52:3005 cookie license-api2 check inter 5s fall 3 rise 2 slowstart 10s maxconn 500

backend minio_console
    mode http
    option http-server-close
    option forwardfor
    http-request set-header Host %[req.hdr(host)]
    option httpchk GET /minio/health/live
    http-check expect status 200
    server minio 192.168.10.201:9001 check inter 5s fall 3 rise 2 maxconn 500

backend minio_api
    mode http
    option http-server-close
    option forwardfor
    http-request set-header Host %[req.hdr(host)]
    #option httpchk GET /minio/health/live
    #http-check expect status 200
    server minio 192.168.10.201:9000 check inter 5s fall 3 rise 2 maxconn 500



backend default_backend
    mode http
    http-request deny deny_status 400
```
